Flask==3.0.1
requests==2.31.0
gunicorn==21.2.0    # Gunicorn est un serveur HTTP WSGI pour UNIX, conçu pour servir des applications Python en production
pymongo
qrcode[pil]==7.4.2
pyzbar==0.1.9
Pillow