{% extends 'views/templates/template-user.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web/gestion-ticket.css') }}">
{% endblock %}

{% block title %}
    <title>Gestions des Tickets</title>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <h1>Gestions de vos tickets</h1>
    <h5>Total de tickets : <span id="total-tickets"></span></h5>

    <div class="div-message-info info_">
        <div class="div-info-icon">
            <span class="material-icons">info</span>
        </div>
        <div class="div-info-content">
            <p>
                <strong>Type du Ticket :</strong> 2H : 2 heures / 1J : Une journée
                <br>
                <strong>Etat du Ticket :</strong> N : Jamais Utilisé / V : En Voyage
            </p>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-tickets table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type Ticket</th>
                    <th scope="col">Etat du Ticket</th>
                    <th scope="col">Date d'achat</th>
                    <th scope="col">Date de péremption</th>
                    <th scope="col">Nombre de fois utilisé</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
            
            </tbody>
        </table>
    </div>

    <h5 class="mt-5">Total de badges : <span id="total-badges"></span></h5>
    <div class="table-responsive">
        <table class="table table-badges table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type Ticket</th>
                    <th scope="col">Etat du Ticket</th>
                    <th scope="col">Date d'achat</th>
                    <th scope="col">Date de péremption</th>
                    <th scope="col">Nombre de fois utilisé</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
            
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block jsScripts %}
    <script src="{{ url_for('static', filename='js/views/interfaces/gestion-ticket.js') }}"></script>
{% endblock %}