{% extends 'views/templates/template-user.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web/gestion-ticket.css') }}">
{% endblock %}

{% block title %}
    <title>Gestions des Tickets</title>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <h1>Gestions de vos tickets</h1>
    <div class="table-responsive">
        <table class="table table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date d'achat</th>
                    <th scope="col">Date de péremption</th>
                    <th scope="col">Nombre de fois utilisé</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
            
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block jsScripts %}
    <script src="{{ url_for('static', filename='js/views/interfaces/gestion-ticket.js') }}"></script>
{% endblock %}