{% if current_user.role == 1 or not current_user.is_authenticated %}
    {% extends 'views/templates/template-user.html' %}
{% elif current_user.role == 2 %}
    {% extends 'views/templates/template-admin.html' %}
{% else %}
    {% extends 'views/templates/template-emp.html' %}
{% endif %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web/scan-porte.css') }}">
{% endblock %}

{% block title %}
    <title>Scanne de porte</title>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <h1>Scan de porte</h1>
    
    <div class="div-message-info info_">
        <div class="div-info-icon">
            <span class="material-icons">info</span>
        </div>
        <div class="div-info-content">
            <p>
                <strong>Type du Ticket :</strong> 2H : 2 heures / 1J : Une journée
                <br>
                <strong>Etat du Ticket :</strong> N : Jamais Utilisé / V : En Voyage
            </p>
        </div>
    </div>
    
    <div class="operation">

        <div class="tables-tickets-badges">
            <!-- Tableau des tickets -->
            <div class="tickets">
                <h4>Choissisez un ticket si vous en avez <span id="total-tickets"></span></h4>
                <div class="table-responsive">
                    <table class="table table-tickets table-dark table-sm">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Type</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Date d'achat</th>
                                <th scope="col">Date Péremption</th>
                                <th scope="col">Nombres de scans</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
            
                        <tbody class="text-center">
                        
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Tableau des badges -->
            <div class="badges mt-5">
                <h4>Choissisez un badge si vous en avez <span id="total-badges"></span></h4>
                <div class="table-responsive">
                    <table class="table table-badges table-dark table-sm">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Date d'achat</th>
                                <th scope="col">Date Péremption</th>
                                <th scope="col">Nombres de scans</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
            
                        <tbody class="text-center">
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            
        <div class="simulation-scan">
            <div class="door">
                <div class="scanner"><span class="material-icons">qr_code_scanner</span></div>
                <div class="led red"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block jsScripts %}
    <script src="{{ url_for('static', filename='js/views/interfaces/scanne-porte.js') }}"></script>
{% endblock %}