{% extends 'views/templates/template-user.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web/scan-porte.css') }}">
{% endblock %}

{% block title %}
    <title>Scanne de porte</title>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <h1>Scanne de porte</h1>
    
    <div class="div-message-info info_">
        <div class="div-info-icon">
            <span class="material-icons">info</span>
        </div>
        <div class="div-info-content">
            <p>
                <strong>Type du Ticket :</strong> 2H : 2 heures / 1J : Une journée
                <br>
                <strong>Etat du Ticket :</strong> N : Jamais Utilisé / V : En Voyage
            </p>
        </div>
    </div>
    
    <div class="operation">
        <div class="tickets">
            <h4>Choissisez un ticket si vous en avez</h4>
            <div class="table-responsive">
                <table class="table table-dark table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type Ticket</th>
                            <th scope="col">Etat du Ticket</th>
                            <th scope="col">Date d'achat</th>
                            <th scope="col">Date de péremption</th>
                            <th scope="col">Nombre de fois utilisé</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
        
                    <tbody>
                    
                    </tbody>
                </table>
            </div>
        </div>
            
        <div class="simulation-scan">
            <div class="door">
                <div class="scanner"><span class="material-icons">qr_code_scanner</span></div>
                <div class="led red"></div>
            </div>

            <div class="qr-code-input">
                <label for="label id qr code scanner">Entrez l'id de votre QR CODE</label>
                <div class="input-group input-qrcode-scanner mt-2">
                    <input type="text" class="form-control" placeholder="Entrez un id" aria-label="input qrcode id" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Soumettre</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block jsScripts %}
    <script src="{{ url_for('static', filename='js/views/interfaces/scanne-porte.js') }}"></script>
{% endblock %}